<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="sourceFilePath" value="C:\Users\Elena\Documents\Visual Studio 2017\Projects\NET.W.2017.Kinchikova.16\ConsoleUI\addresses.txt"/>
      <add key="xmlFilePath" value="C:\Users\Elena\Documents\Visual Studio 2017\Projects\NET.W.2017.Kinchikova.16\ConsoleUI\addresses.xml"/>
    </appSettings>
</configuration>